* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:20px;
    margin:0px;
    padding:0px;
}

th{
	background:#313131;
	color:#FFFFFF;
	border-bottom:2px solid #F00;
	font-size:16px;
	}
	
td{
	font-size:16px;
	text-align:left;
}

#scan{
	width:100%;
	background:#777777;
	border:0px;
	border-radius:5px;
	color:#FFFFFF;
	padding:5px 0px;
}

#scan:active{
	background:#000;
}

#findkey{
	background:#000;
}	
#findkey{
	width:100%;
	background:#777777;
	border:0px;
	border-radius:5px;
	color:#FFFFFF;
	padding:5px 10px;
}
